nav.navbar.navbar-expand-lg{
  background-color:  #E9F1FA;
  padding-left:20px;
  border: solid;
  z-index: 50;
  transition: 1s;
  text-align: center;
}
nav.navbar.navbar-expand-lg:hover{
  background-color: #459DBB;
}
nav.navbar.navbar-expand-lg a:hover{
  text-decoration: underline;
}
.rightSection{
  padding-right: 25px;
  display: block;
}
.nav-link{
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.nav-link:hover{
    color: black;
}
.header img{
  align-content: center;
}
body{
    margin:0;
    padding:0;
    overflow: auto;
    font-family: Raleway;
}
h2{
  float: left;
}
header{
    background: #2b303b;
    height: 50px;
    width:50%;
    display: inline-block;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    color:#fff;
}
.subheader{
    display: flex;
    align-items: center;
    margin: 0px;
}
.logout{
    flex:1;
    justify-content: flex-end;
    padding:15px;
    display: none;
}
.logout a{
    color:#fff;
    text-decoration: none;
}
canvas{
  display: block;
}
#channelChart{
    /* height: 100%;
    width: 100%; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
#barChannelChart{
  width: 100% !important;
  height: 100% !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  /* float: right; */
}
.hide{
  display: none;
}
.containerStack{
  padding-top: 75px;
  border: 1px solid blue;


}
#sensorCirclesSec{
  width: 100%;
text-align: center;
}
#sensorCircles1{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles2{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles3{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles4{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles5{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles6{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles7{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles8{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles9{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles10{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles11{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles12{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles13{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles14{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles15{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#sensorCircles16{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#HeadImpactModel{

}
